@font-face {
    font-family: "vg";
    src: url("../vg5000-master/fonts/VG5000-Regular.otf");
}

@font-face {
    font-family: "combat";
    src: url("../Combat-master/font/Combat.otf");
}

@keyframes backgroundColorPalette {
    0% {
        background: #ee6055;
    }
    25% {
        background: #60d394;
    }
    50% {
        background: #aaf683;
    }
    75% {
        background: #ffd97d;
    }
    100% {
        background: #ff9b85;
    }
}

body {
    background-color: black;
    opacity: 0;
    transition: opacity .5s;
}

.animate__animated.animate__fadeIn{
    --animate-duration: 4s
}


.btn-xlarge {
    padding: 18px 28px;
    font-size: 3rem;
line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


.landing {
    font-family: "vg",sans-serif;
    height: 100vh;
    width: 100%;

    animation-name: backgroundColorPalette;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.instructions{
    font-family: "vg";
    font-size: 1.25em;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
}

.format{
    padding: 4em
}

.aboutme {
    font-family: "vg";
    font-size: 1.25em;
    background-color: #60d394;
    height: 100vh;
    width: 100%;
}

.title {
    font-family: "combat";
    font-size: 25rem;

}
.subtitle{
    font-size: 4em;
    word-spacing: 15px;
}


